<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>E-TicaretFinalProjesi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>musterilogin</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>musterilogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/jsp/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cart</servlet-name>
    <jsp-file>/jsp/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/jsp/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekTshirt</servlet-name>
    <jsp-file>/jsp/ErkekTshirt.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekTshirt</servlet-name>
    <url-pattern>/ErkekTshirt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekCeket</servlet-name>
    <jsp-file>/jsp/ErkekCeket.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekCeket</servlet-name>
    <url-pattern>/ErkekCeket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekKazak</servlet-name>
    <jsp-file>/jsp/ErkekKazak.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekKazak</servlet-name>
    <url-pattern>/ErkekKazak</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekJean</servlet-name>
    <jsp-file>/jsp/ErkekJean.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekJean</servlet-name>
    <url-pattern>/ErkekJean</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekEsortman</servlet-name>
    <jsp-file>/jsp/ErkekEsortman.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekEsortman</servlet-name>
    <url-pattern>/ErkekEsortman</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekUstGiyim</servlet-name>
    <jsp-file>/jsp/ErkekUstGiyim.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekUstGiyim</servlet-name>
    <url-pattern>/ErkekUstGiyim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErkekAltGiyim</servlet-name>
    <jsp-file>/jsp/ErkekAltGiyim.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErkekAltGiyim</servlet-name>
    <url-pattern>/ErkekAltGiyim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanAltGiyim</servlet-name>
    <jsp-file>/jsp/BayanAltGiyim.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanAltGiyim</servlet-name>
    <url-pattern>/BayanAltGiyim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanUstGiyim</servlet-name>
    <jsp-file>/jsp/BayanUstGiyim.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanUstGiyim</servlet-name>
    <url-pattern>/BayanUstGiyim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanBluz</servlet-name>
    <jsp-file>/jsp/BayanBluz.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanBluz</servlet-name>
    <url-pattern>/BayanBluz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanElbise</servlet-name>
    <jsp-file>/jsp/BayanElbise.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanElbise</servlet-name>
    <url-pattern>/BayanElbise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanEtek</servlet-name>
    <jsp-file>/jsp/BayanEtek.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanEtek</servlet-name>
    <url-pattern>/BayanEtek</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanMont</servlet-name>
    <jsp-file>/jsp/BayanMont.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanMont</servlet-name>
    <url-pattern>/BayanMont</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BayanJean</servlet-name>
    <jsp-file>/jsp/BayanJean.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BayanJean</servlet-name>
    <url-pattern>/BayanJean</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>urunDetay</servlet-name>
    <jsp-file>/jsp/urunDetay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>urunDetay</servlet-name>
    <url-pattern>/urunDetay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>siparis</servlet-name>
    <jsp-file>/jsp/siparisAlindi.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>siparis</servlet-name>
    <url-pattern>/siparis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <jsp-file>/jsp/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexAdmin</servlet-name>
    <jsp-file>/jsp/indexAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexAdmin</servlet-name>
    <url-pattern>/indexAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>urunAdmin</servlet-name>
    <jsp-file>/jsp/urunAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>urunAdmin</servlet-name>
    <url-pattern>/urunAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminMusteri</servlet-name>
    <jsp-file>/jsp/adminMusteri.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminMusteri</servlet-name>
    <url-pattern>/adminMusteri</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>urunEkle</servlet-name>
    <jsp-file>/jsp/urunEkle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>urunEkle</servlet-name>
    <url-pattern>/urunEkle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>siparisAdmin</servlet-name>
    <jsp-file>/jsp/siparisAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>siparisAdmin</servlet-name>
    <url-pattern>/siparisAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>urunGuncelle</servlet-name>
    <jsp-file>/jsp/urunGuncelle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>urunGuncelle</servlet-name>
    <url-pattern>/urunGuncelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>siparisGuncelle</servlet-name>
    <jsp-file>/jsp/siparisGuncelle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>siparisGuncelle</servlet-name>
    <url-pattern>/siparisGuncelle</url-pattern>
  </servlet-mapping>
   
</web-app>